{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container ">


    <h2 align="center">Treatments</h2>
    <div class="row">
        <div class="table-responsive-sm">
            <table class="table table-dark">
                <thead class=" thead-dark ">
                    <tr>
                        <th scope=" col ">Therapy </th>
                        <th scope="col ">Duration</th>
                        <th scope="col ">Price</th>


                    </tr>
                </thead>
                <tbody>
                    {% for terapia in therapy %}
                    <tr>
                        <td class="table-1">
                            <a href="{% url 'article' terapia.id %} " class="tag"> {{terapia.name}}</a>
                        </td>
                        <td class="table-2"> {{terapia.duration}} minutes
                        </td>
                        <td class="table-3">  {{terapia.price}} DKK
                        </td>


                        </th>

                    </tr>
                    {% endfor %}

                </tbody>


            </table>
             <p><b>The are only for the therapy, in addition a cost for mobility to the client's house ( Copenhagen )  of 150 DKK is added. </b></p>
        </div>
        <br>

        <form action="" method="POST">
            <h2 align="center ">BOOK US </h2>
            {% csrf_token %}
            <div class="form-row ">
                <div class="form-group col-md-11 mb-0 ">
                    {{ form|crispy }}
                    <h4>
                        <a href="{% url 'terms_conditions' %}"><b>Read terms and conditions</b></a>
                    </h4>
                </div>
            </div>

            <div class="col-md-9 " align="center ">
                <input type="submit" class="btn btn-primary " value="Book us ">
            </div>


        </form>

    </div>

</div>
<br>
</div>
</div>
</div>

{% endblock %}