{% extends "base.html" %} {% block content %} {% load static %}


<div margin: 100px auto;>
    <div class="container ">
        <div class="row ">
            <h2> Thanks for book us, we will be in contact to you a soon as possible!
            </h2>

            <br>

            <h4>PLEASE READ THE CANCELLATION POLICY:<br> Remember cancellation must be made no later than 48 hours before the agreed time, otherwise ½ price is paid. Absence full price. Cancellations can be made easily here on online booking. Please contact
                me on tel. 29 71 72 29 if you need to cancel with less than 48 hours notice.</h4>
        </div>
    </div>
</div>
{% endblock %}