{% extends "base.html" %} {% block content %} {% load static %}


<div margin: 100px auto;>
    <div class="container ">
        <div class="row ">
            <h2> Thanks for book us, we sent you an email with all the information about your appointment!
            </h2>

            <br>

            <h4>PLEASE READ THE CANCELLATION POLICY:
                <br> Remember cancellation must be made no later than 48 hours before the agreed time, otherwise ½ price is paid. Absence full price. <br>Cancellations can be made easily here on online booking. Please contact me on tel. +4591775076 if
                you need to cancel with less than 48 hours notice.</h4>
            <br>
        </div>
    </div>
</div>
{% endblock %}