{% extends "base.html" %} {% block content %} {% load static %}
<div class="mb60">
    <div class="container" align-items="center" justify-content: "center">
        <div class="float-container ">
            <div class="float-child ">
                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 ">
                    <div class="service-block ">
                        <!-- service block -->
                        <div class="top-image-container mb20">
                            <!-- service img -->
                            <img src="{{articles.image.url}} " alt=" " class="top-image">
                        </div>
                        <br>
                        <div class="service-content bg-default-article">
                            <!-- service content -->
                            <h1 class="title-centered">{{articles.name}}
                            </h1><br>
                            <p>{{articles.description}}</p>
                            <br>
                            {% if articles.price %}
                                <HTML5>Price : $ {{articles.price}} DKK</h5>
                                {% endif %} {% if articles.duration %}
        
                                <h5>Duration : {{articles.duration}} minutes</h5>
                                {% endif %} {% if articles.therapist %}
                               
                                {% endif %}
                            
                        </div>
                        <!-- service content -->
                    </div>
                    
                    <!-- service img -->
                    
                    <br>
                    <!-- /.service block -->
                    <a href="{% url 'appointment' %} "><button type="button " class="btn btn-secondary btn-primary "> Book us</button></a>
                </div>
                <br>
            </div>


        </div>
    </div>
</div>{% endblock %}


{% if terapia.name != "Massage at home" %}
<div>{% if terapia.price %}
    <h3>Price : $ {{terapia.price}} DKK</h3>
    {% endif %} {% if terapia.time %}

    <h3>Duration of treatment : {{terapia.time}} minutes</h3>
    {% endif %} {% if terapia.therapist %}
    <h3>Therapist : {{terapia.therapist}}</h3>
    {% endif %}
</div>
{% endif %}