{% extends "base.html" %} {% block content %} {% load static %}
<div class="space-medium ">
    <div class="container ">
        <div class="row ">
            <div class="col-md-offset-2 col-md-8 ">
                <div class="mb60 text-center section-title ">
                    <!-- section title start-->

                    <h1>{{articles.name}}</h1>

                </div>
                <!-- /.section title start-->
            </div>
        </div>

        <div class="float-container ">

            <div class="float-child">

                <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 ">
                    <div class="service-block ">
                        <!-- service block -->
                        <div class="service-img mb20 ">
                            <!-- service img -->

                            <img src="{{articles.image.url}} " alt=" " class="img-responsive ">
                        </div>
                        <!-- service img -->
                        <div>{% if articles.price %}
                            <h3>Price : $ {{articles.price}} DKK</h3>
                            {% endif %} {% if articles.time %}

                            <h3>Duration of treatment : {{articles.time}}</h3>
                            {% endif %} {% if articles.therapist %}
                            <h3>Therapist : {{articles.therapist}}</h3>
                            {% endif %}
                        </div>
                        <div class="service-content ">
                            <!-- service content -->

                            <h2>{{articles.name}}
                            </h2>
                            <p>{{articles.description}}</p>
                        </div>

                        <!-- service content -->
                    </div>
                    <!-- /.service block -->

                </div>

            </div>
            <br>
        </div>


    </div>
</div>
</div>{% endblock %}



<div>{% if terapia.price %}
    <h3>Price : $ {{terapia.price}} DKK</h3>
    {% endif %} {% if terapia.time %}

    <h3>Duration of treatment : {{terapia.time}}</h3>
    {% endif %} {% if terapia.therapist %}
    <h3>Therapist : {{terapia.therapist}}</h3>
    {% endif %}
</div>