<!DOCTYPE html> {% load static %}
<html lang="en">




<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Flower is free physiotherapy website template that perfectly designed for therapy center, physical therapy program courses, physiotherapy clinic and physician.">
    <meta name="keywords" content="best free website templates, html5 template, free responsive website templates,website layout,html5 website templates,template for website design, medical HTML5 templates">
    <title>Bodyworkz </title>
    <!-- Bootstrap -->
    <link href="{% static 'ap1/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Google Fonts -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/v4-shims.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/fontawesome.js">
    </script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static 'ap1/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- Style -->
    <link href="{% static 'ap1/css/style.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<div class="header-top">
    <!-- header-top-->
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-8 col-sm-8  col-xs-12">
                <div class="top-text">
                    <span class="text-block call-block">
                        <a href="https://wa.me/+4591775076 " title="click to open whatsapp chat ">
                            <button class="btn btn-success whatsapp-button">
                                <i class="fab fa-whatsapp" style="font-size: 16" aria-hidden="true "></i>
                                <span class="call-no" style="font-weight: 400; text-transform: capitalize">WhatsApp</span>
                    </button>
                    </a>
                    </span><a href="{% url 'contacto' %}" title="Contact Us"><button class="btn text-block mail-block hidden-xs hidden-sm">
                        <i class="fa fa-envelope-o" style="font-size: 16" aria-hidden="true "></i>

                    </button></a>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-4     col-md-4 col-sm-12 col-xs-12">
                <a href="{% url 'index' %}"><img src="{% static 'ap1/images/bodyworkz.png' %}" alt=""></a>
            </div>
            </ <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12">
            <div class="navigation">
                <div id="navigation">
                    <ul>
                        <li class="active"><a href="{% url 'index' %}" title="Home">HOME</a></li>

                        <li class="active">

                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Treatments
                                    </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                {% for terapia in therapy %}
                                <h5><a href="{% url 'article' terapia.id %}" class="tag">{{terapia.name}}</a></h5>
                                {% endfor %}

                            </div>


                        </li>
                        <li><a href="{% url 'reviews' %}" title="Styleguide">TESTIMONIALS</a> </li>

                        <li><a href="{% url 'our_therapist' %}" title="Styleguide">ABOUT US</a> </li>
                        <li>
                            <a href="{% url 'appointment' %}" title="Styleguide">BOOK US</a>
                        </li>

                        <li><a href="{% url 'contacto' %}" title="Contact Us">CONTACT</a> </li>
                    </ul>


                </div>
            </div>

        </div>
    </div>
</div>
</div>
{%block content %} {% endblock %}

<div class="footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-2 col-md-3 col-sm-2 col-xs-12">
                <div class="footer-widget">
                    <h2 class="widget-title">Therapies</h2>
                    <ul>
                        {% for terapia in therapy %}
                        <li>
                            <a href="{% url 'article' terapia.id %} " class="tag">{{terapia.name}}</a> {% endfor %}

                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                <div class="footer-widget footer-social">
                    <h2 class="widget-title">Social Feed</h2>
                    <ul class="listnone">
                        <li>
                            <a href="#"> <i class="fa fa-instagram"></i> Instagram</a>
                        </li>



                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-2 col-sm-2 col-xs-12">

                <div class="footer-widget footer-social">

                    <h2 class="widget-title">Contact us </h2>


                    <ul class="listnone contact">

                        <li><i class="fa fa-phone"></i> +45 91775076</li>
                        <li><i class="fa fa-envelope-o"></i> bodyworkz90@gmail.com</li>
                        <li> CVR 42741744</li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">

                <div class="footer-widget footer-social">
                    <a href="{% url 'index' %}"><img src="{% static 'ap1/images/bodyworkz_footer1.png' %}" alt=""></a>



                </div>
            </div>


        </div>

        <div class="tiny-footer">

            <div class="container">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="copyright-content">
                            Created by <i class="fa fa-love"></i>Ignacio Vidondo
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'ap1/js/jquery.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'ap1/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'ap1/js/menumaker.js' %}"></script>


    <script src="{% static 'ap1/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'ap1/js/sticky-header.js' %}"></script>
    </body>


</html>