{% extends "base.html" %} {% block content %} {% load static %}

<article id="contact" class="panel">
    <header>
        <h2 align=center>Contact Us</h2>
    </header>
    <form action="" method="POST">
        {% csrf_token %}
        <div>
            <div class="row">
                <div class="col-md-4">
                    {{ form.name }}
                </div>
                <div class="col-md-5">
                    {{ form.email }}
                </div>

                <div class="col-md-9">
                    {{form.content}}
                </div>
                <div class="col-md-9" align=center>
                    <input type=" submit " value="Send Message " />
                </div>
            </div>
        </div>
    </form>
</article>

</div>
{% endblock %}