 {% extends "base.html" %} {% block content %} {% load static %}

<body>
    <div class="hero-section">
        <img src="foto.jpeg" alt="" class="img-responsive">
        <div class=" container ">


            <div class="row ">
                <div class="col-md-5 ">

                    <h1 class="hero-title ">Free Physiotherapy Website Template Download</h1>
                    <p class="hero-text ">Free physiotherapy website templates download. Template build with first mobile friendly bootstrap framework.
                    </p>
                    <a href="# " class="btn btn-default ">Slider Button</a>
                </div>
            </div>
        </div>
    </div>
    <div class="space-medium ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-offset-2 col-md-8 ">
                    <div class="mb60 text-center section-title ">
                        <!-- section title start-->
                        <h5>Physiotherapy Services at Home</h5>
                        <h1>Wide Range of Physical Therapy Servicee</h1>
                        <p>Pellentesque laoreet sem nisi, eget malesuada sem aliquet sit ame ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>

            <div class="row ">
                {% for terapia in therapy %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <div class="service-block ">
                        <!-- service block -->
                        <div class="service-img mb20 ">
                            <!-- service img -->
                            <a href="# ">
                                <img src="{{terapia.image.url}} " alt=" " class="img-responsive "></a>
                        </div>
                        <!-- service img -->
                        <div class="service-content ">
                            <!-- service content -->
                            <h2><a href="# " class="title ">{{terapia.name}}</a></h2>
                            <p>{{terapia.description}}</p>
                        </div>
                        <!-- service content -->
                    </div>
                    <!-- /.service block -->

                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="space-small bg-primary">
        <!-- call to action -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
                    <h1 class="cta-title">Book your online appointment</h1>

                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                    <a href="https://wa.me/+4591775076" title="click to open whatsapp chat"><button class="btn btn-success">
                        <i class="fab fa-whatsapp" aria-hidden="true"></i> Chat Now
                        </button></a>
                </div>
            </div>
        </div>
    </div>



    <div class="space-medium ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12 ">
                    <div class="section-title mb40 text-center ">
                        <!-- section title start-->
                        <h1>Testimonials </h1>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
            <div class="space-medium bg-default ">
                <div class="container ">
                    <div class="row ">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12 ">
                            <div class="section-title mb60 text-center ">
                                <!-- section title start-->
                                <h1>Testimonials</h1>
                            </div>
                            <!-- /.section title start-->
                        </div>
                    </div>
                    <div class="row ">

                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for review in reviews %}
                                <div class="item {% if forloop.first %} active {% endif %} ">
                                    <h2>{{review.description}}</h2>
                                    <h5>{{review.name}}</h5>
                                </div>
                                {% endfor %}


                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>

</body> {% endblock %}