{% extends "base.html" %} {% block content %} {% load static %}

<body>
    <div class="row">
        {% for video in index %}
        <video src={{video.video.url}} autoplay muted loop width=100%></video>
        {% endfor %}




    </div>

    <div class="space-medium ">
        <div class="container ">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="mb60 text-center section-title">
                        <!-- section title start-->

                        <h1>Treat yourself to a massage</h1>
                       <h3>Get a wellness massage and sports massage of the highest quality </h3>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>


            <div class="row " style="display:flex">

                {% for terapia in therapy %}
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 " style="width: 25%; float:left; flex: 1;">
                    <div class="service-block">

                        <!-- service block -->
                        <div class="service-img mb20">
                            <!-- service img -->
                            <a href="{% url 'therapies' %} ">
                                <img src="{{terapia.image.url}} " alt=" " class="img-responsive "></a>
                        </div>
                        <!-- service img -->
                        <div class="service-content">
                            <!-- service content -->
                            <h2><a href="{% url 'article' terapia.id %}">{{terapia.name}}</a></h2>

                        </div>
                        <br>

                        <h4><a href="{% url 'article' terapia.id %}"><b>Read more..</b></a></h4>

                    </div>

                    <!-- /.service block -->

                </div> {% endfor %}



            </div>
        </div>
    </div>

    </div>
    </div>
    </div>
    <div class="space-small bg-primary ">
        <!-- call to action -->
        <div class="container ">
            <div class="row ">

                <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12 ">

                    <a href="{% url 'appointment' %} ">
                        <h1 class="cta-title ">Book your appointment online <i class="fa fa-calendar " aria-hidden="true "></i></h1>
                    </a>


                </div>

            </div>
        </div>
    </div>
    </div>



    <div class="space-medium ">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12 ">

                    <!-- /.section title start-->
                </div>
            </div>
            <div class="space-medium bg-default ">
                <div class="container ">
                    <div class="row ">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12 ">
                            <div class="section-title mb60 text-center ">
                                <!-- section title start-->
                                <h1>Testimonials</h1>
                            </div>
                            <!-- /.section title start-->
                        </div>
                    </div>
                    <div class="row ">

                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for review in reviews %}


                                <div class="item {% if forloop.first %} active {% endif %} ">
                                    <div>
                                        <h3 align="center">
                                            " {{review.description}} "</h3>
                                        <h3 align="center">{{review.name}} {{review.age}} years old</h3>

                                    </div>

                                </div>

                                {% endfor %}


                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    </div>

</body> {% endblock %}