{% extends "base.html" %} {% block content %} {% load static %}

<div class="space-medium ">
    <div class="container ">
        <div class="row ">
        </div>
        <div class="space-medium bg-default">
            <div class="container ">
                <div class="row ">
                    <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12 ">
                        <div class="section-title mb60 text-center ">
                            <!-- section title start-->
                            <h1>Our client’s testimonials</h1>
                        </div>
                        <!-- /.section title start-->
                    </div>
                </div>
                <div class="row ">

                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for review in reviews %}


                            <div class="item {% if forloop.first %} active {% endif %} ">
                                <div>
                                    <h3 align="center">
                                        " {{review.description}} "</h3>
                                    <h3 align="center">{{review.name}} {{review.age}} years old</h3>

                                </div>

                            </div>

                            {% endfor %}


                        </div>

                    </div>

                </div>


            </div>

        </div>

    </div>

</div>
</div>
</div>
{% endblock %}