{% extends "base.html" %} {% block content %} {% load static %}
<div class="container ">

    <h2 align="center"> BodyWorkz v/ Vidondo - Terms and conditions</h2>
    <div class="row ">
        <h3>
          <br><br>
Please Read:<br>
Please always read the BodyWorkz v/ Vidondo 'Terms & Conditions' before making any appointment to avoid any misunderstanding.
a. We will use the following words in this form and website to identify ‘BodyWorkz v/ Vidondo ’; we, us, ours.
b.We will use the following words in this form and website to identify client;; client, you , your.<br><br>
<br><br>
1: New Clients<br>
We recommend you to allow an extra 10-15 minutes for your first appointment to complete/review (if you submitted it online) client history form and discuss treatment plan with your  BodyWorkz v/ Vidondo.<br><br>
2: Client History Form<br>
Massage Therapies/Treatments cannot and will not be carried out without an up to date consultation form under any circumstances. Massage Therapies/Treatments cannot and will not be carried out if you refuse to give all details/information requested on our fully completed client history form. It is your responsibility to inform us about any changes in your health and or medical problems. Client history form must be reviewed and signed by the client when you have a massage therapy appointment with us. The Client History form must be completed under the Danish health authority, Insurance purposes and for the BodyWorkz v/ Vidondo to remain within there Danish scope of practice.<br><br>
3: Contraindications<br>
Please always check the contraindications page on our website to make sure you do not have any of the conditions.  If you found any of the Contraindications which describe your medical/health condition on the list, please contact us first before making an appointment as your Doctor’s permission to receive a Massage may be required. Massage recipients are responsible to ensure that when the consultation takes place and that they are suitably healthy to receive the treatment provided.<br>
•	 Please note: There are some contraindications, which do not allow you to receive Massage Therapy/Treatment at all. If you are still not sure, please contact us for clarification.
If you suffered from the following ilnesses please make sure to visit your doctor before come to us:<br><br>
-	During pregnancy.<br>
-	In surgical interventions of less than 6 months.<br>
-	Infectious skin diseases (fungi, lupus...) and other generalized non-infectious ones (for example allergic dermatitis), decubitus ulcers and burns.<br>
-	Inflammatory vascular diseases (for example, phlebitis), inflammation of the lymph nodes, vascular weakness and severe circulatory retention.<br>
-	Arterial thrombosis and embolism, varicose veins and heart disease in general (such as tachycardia and high blood pressure).<br>
-	Acute or pathological inflammations with typical symptoms: pain, heat, flushing (reddening of the skin) and inflammation (increased volume).<br>
-	Bruises, recent hemorrhages, unhealed wounds, acute sprains, contusions, acute edema and joint effusions.<br>
-	Acute diseases or in the evolutionary phase, such as feverish states, nausea, gastric ulcer or duodenal ulcer.<br>
-Metabolic-type diseases (such as gout).<br>
- Fibrosis and degenerative muscle diseases.<br>
- Acute rheumatic diseases.<br>
- Infectious or tumor diseases.<br>
- Inflammatory processes of bacterial origin.<br>
- Kidney problems in the acute phase, kidney stones, gallstones.<br>
- Rupture or tears of muscles, sheaths, tendons, ligaments.<br>
- Recent trauma and surgical treatments.<br>
- Diseases of the nervous system: lesions of the pyramidal pathways and nerve compression.<br><br>



4: Appointment Bookings<br>
Massage Therapies/Treatments are available by appointment using Online, Phone or E-mail Booking services on a daily basis at least 12 hours before your preferred time. If you would like to make an appointment less than 12 hours before your preferred time, please use only Phone Booking Service.  All Online and E-mail appointment times will be confirmed by one of our staff.  Please do not assume that making an appointment Online or by E-mail confirms appointments availability. Once we have received your Online or E-mail booking we will confirm it’s availability by E-mail or Phone or will contact you to offer another time if appointment at your preferred time is not available.<br><br>
4b: Contact Details<br>
To fulfill your booking request and avoid delays, ‘BodyWorkz v/ Vidondo’ requires accurate contact details such as; Telephone number/s , email address for the treatment recipient. BodyWorkz cannot be held responsible for any delays caused by inaccurate or incomplete information.<br><br>
 5: Reservations<br>
For all reservations and Appointment bookings scheduling please contact us and a staff member will confirm your appointment time with with you via Phone,Text or Email.
5a: Cancellations<br>
Please give at least 12 hours’ notice if you are unable to keep your appointment. Family and/or Medical issues and emergencies are an exception.
•	Family and or Medical issues phone contact within minimum 6 hours from the appointment time would be required.<br><br>
5b: Late Cancellation<br>
If the appointment time you booked ends in a Late Cancellation status you will be responsible for the full amount of the booked Therapy/Treatment.  This is to compensate the Therapist for time lost that could have otherwise been filled with another client.<br>
5c: Late Show/No Show<br><br>
We can’t keep your appointment for any longer than 15 minutes in the Late Show conditions. Your appointment will be canceled and you will be responsible for the full amount of the booked Therapy/Treatment, with the exception of Clause 5a Cancellations.<br>
•	In the event of a 'No Show' you will be responsible for the full amount of the booked Therapy/Treatment.<br><br>
6: Prices<br>
All Fee's/prices set at the ‘BodyWorkz v/ Vidondo’ Massage Therapy Practice Centre are subject to change without prior notice. <br><br>
7: Payment Terms<br>
Payment terms are strictly by Bank transference or  Mobile Pay , (unless prior arrangement has been made with management. Please contact us if you have any questions about any of the payment methods.<br><br>
8: Special Offers<br>
Special Offers discounts cannot be combined with Package Deals. Please read Special Offers Terms & Conditions on our website as they are subject to change.<br><br>
9: Package Deals<br>
Package Deals cannot be combined with Special Offers.  Please read Package Deals Terms & Conditions on our website as they are subject to change.<br><br>
10: Therapies/Treatments<br>
Information about all our Massage Therapies/Treatments and Services are available on our website. The information relating to Massage Therapies/Treatments has been versed in a non misleading way and should not be misconstrued in any other way.<br><br>
11: Gift Certificates<br>
Gift certificates are available to purchase online and personally. Gift vouchers/certificates must be paid in full when collecting in person or before we can post it to you or to the address specified by you. The Gift Certificate will be credited to the nominated person, and redeemed at  BodyWorkz v/ Vidondo only. The Gift Certificate is not redeemable for cash and or product.<br><br>
12: Client’s Behaviour<br>
Inappropriate behaviour, comments or suggestions will result in immediate termination of your session, payment will be collected in full and any future appointments will be denied.<br><br>
 If the inappropriate behaviour is of a sexual nature, Danish Police will be contacted immediately.<br><br>
13a: Right of Refusal<br><b>
BodyWorkz v/ Vidondo and /or its’ contracted Massage Therapists reserve a right to decline massage bookings and/ or treatment without an obligation to provide any reason for doing.<br><br>
13b: Code of Ethics - Massage Therapy Treatment Session<br>
BodyWorkz v/ Vidondo  and/or it’s contracted Massage Therapists require the client to wear the appropriate under garments throughout the duration of the massage therapy treatment session. BodyWorkz abide by our code of ethics and also Danish massage therapy standards in massage transference, between client and massage therapist. BodyWorkz Therapist's reserve the right to terminate the massage therapy session immediately, and payment in full will be required.<br><br>
BodyWorkz v/ Vidondo  Massage Therapist’s will not massage Breast,Pelvis or Intimate Area.</b><br><br>
Areas.13: Age<br>
<b>
You must be 18 years of age to receive the massage treatment. We have the right to ask for your ID even if you are over 18 years of age.
We reserve the right to contact parents/guardians to confirm permission for massage treatment or ask your parents/guardians to attend the massage session with you. Please contact us first if you are under the age of 18 and wish to receive massage therapy/treatment.
</b> <br><br>
14: Copyright<br>
The copyright and all other rights in the material on this Web Site are owned by BodyWorkz v/ Vidondo and/ or are included with the permission of the owner of the rights. As a visitor to this website, you may download a single copy of the material for your own private viewing purposes only. No copying or distribution for any commercial or business use is permitted without our prior written consent.<br><br>
15: Trade marks<br>
All trademarks used on this Web Site are the property of their respective owners.<br>
<br>
 16: Links<br>
This site may feature links to other web sites. While we hope you will be interested in those websites, We do not endorse or accept any responsibility for their content.<br><br>
16a: Accuracy & Completeness<br>
Information and availability We take every care to ensure that the information on this Web Site is accurate and complete. However, some of it is supplied to us by third parties and we are unable to check its accuracy or completeness. You are advised to verify the accuracy of any information before relying on it. This website is provided "AS IS" without any warranties of any kind and we do not accept any liability arising from any inaccuracy or omission in the information or interruption in availability.<br><br>
16b: General:<br>
BodyWorkz v/ Vidondo will not be liable for any failures in the performance of any of their obligations under these terms and conditions caused by factors outside their control. BodyWorkz v/ Vidondo reserve the right to restrict, suspend or terminate access to its’ website and /or services for any reason at any time. We accept no responsibility for any interruption to the BodyWorkz v/ Vidondo web site and /or services for reasons beyond our control. This Agreement supersedes all prior agreements, arrangements, warranties and understandings between you and us. These Terms and Conditions do not affect your common law and statutory rights.<br><br>

BodyWorkz v/ Vidondo - Terms and Conditions.<br><br>

        </h3>
    </div>
</div>
</div>
{% endblock %}